*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main */
.main1{
  display: grid;
  grid-template: 
  "titulo1 titulo2" auto
  "tabla1  tabla2"  auto/
  50%     50%
  ;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#1f2023, #000000da);
}
.titulo1{
grid-area: titulo1;
color: white;
font: italic small-caps bold 25px cursive;
text-align: center;
}
.titulo2{
grid-area: titulo2;
color: white;
font: italic small-caps bold 25px cursive;
text-align: center;
}
.tabla1{
grid-area: tabla1;
height: 100%;

}
.tabla2{
  grid-area: tabla2;
  height: 100%;
}


.tabla2{
  display: flex;
  justify-content: center;
}
.tabla1{
  display: flex;
  justify-content: center;
}
.container {
  border: solid 1px rgba(160, 229, 160, 0.2);
}

table {
  color: #fff;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
}

thead {
  background: rgba(59, 87, 59, 0.616);
}

thead tr th{
color: rgb(195, 255, 99);
}

th {
  padding: 20px 15px ;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px rgba(141, 204, 132, 0.2);
}


tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(126, 201, 107, 0.4);
}

@media(max-width:650px){
  .main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1f2023, #000000da);
    font-size: 10px;
    padding: none;
    
  }
}

/* ASIDE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 20%;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
  position: absolute;
  font-size: 100%;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: auto;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}


.nashes {
  background-color: red;
  color: white;
  font-size: 25PX;
  padding: 25px;
  border: solid 2px;
  border-radius: 100px;
  font-weight: 900;
	-webkit-animation: shake-vertical 2s infinite ;
	        animation: shake-vertical 2s infinite ;
}

 @-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}

@media(max-width:700px){
    .card {
      position: relative;
      width:20%;
      height: 150px;
      margin: 20px;
      border-radius: 10px;
      padding-left: 0px;
      padding-right: 0px;
    }
}
@media(max-width:400px){
  .card {
    position: relative;
    width:20%;
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.css-button-arrow--black {
  align-items: center;
  min-width: 130px;
  height: 70px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40
}
.css-button-arrow--black:hover {
  align-items: center;
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.css-button-arrow--black:hover:after {
  align-items: center;
  opacity: 1;
  right: 10px;
}
.css-button-arrow--black:after{
  align-items: center;
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 50px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

@media(min-width:1400px){
  .card {
    position: relative;
    width:20%;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.masthead{
  background-size: cover;
  min-height: 100vh;
  position: relative;
  background-position-x: center;
}

@media(max-width:1000px){
  .masthead{
min-height: 40vh;
height: 800px;
background-position-x: center;
  }
}

@media(max-width:400px){
  .masthead{
    height: 400px;
min-height: 40vh;
background-position-x: center;
  }
}
